div.header {
    margin-bottom: 10pt ! important;
}

table.textAtm {
  margin-top: 10pt ! important;
  margin-bottom: 10pt ! important;
}

tr.textAtmH,
tr.textAtmB,
tr.rfc822B {
  font-weight: normal ! important;
}

tr.signInProgressH,
tr.rfc822H,
tr.encrH,
tr.signOkKeyOkH,
tr.signOkKeyBadH,
tr.signWarnH,
tr.sign
ErrH {
  font-weight: bold ! important;
}

tr.textAtmH td,
tr.textAtmB td {
  padding: 3px ! important;
}

table.rfc822 {
  width: 100% ! important;
  border: solid 1px black ! important;
  margin-top: 10pt ! important;
  margin-bottom: 10pt ! important;
}

table.textAtm,
table.encr,
table.signWarn,
table.signErr,
table.signOkKeyBad,
table.signOkKeyOk,
table.signInProgress,
div.fancy.header table {
  width: 100% ! important;
  border-width: 0px ! important;
  line-height: normal;
}

div.htmlWarn {
  margin: 0px 5% ! important;
  padding: 10px ! important;
  text-align: left ! important;
  line-height: normal;
}

div.fancy.header > div {
  font-weight: bold ! important;
  padding: 4px ! important;
  line-height: normal;
}

div.fancy.header table {
  padding: 2px ! important;
  text-align: left ! important;
  border-collapse: separate ! important;
}

div.fancy.header table th {
  font-family: "Helvetica" ! important;
  font-size: 12pt;
  padding: 0px ! important;
  white-space: nowrap ! important;
  border-spacing: 0px ! important;
  text-align: left ! important;
  vertical-align: top ! important;
  background-color: #efebe7 ! important;
  color: #000000 ! important;
  border: 1px ! important;
}

div.fancy.header table td {
  font-family: "Helvetica" ! important;
  font-size: 12pt;
  padding: 0px ! important;
  border-spacing: 0px ! important;
  text-align: left ! important;
  vertical-align: top ! important;
  width: 100% ! important;
  background-color: #efebe7 ! important;
  color: #000000 ! important;
  border: 1px ! important;
}

div.fancy.header table a:hover {
  background-color: transparent ! important;
}

span.pimsmileytext {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

img.pimsmileyimg {
}

div.quotelevelmark {
  position: absolute;
  margin-left:-10px;
}

body {
  font-family: "Helvetica" ! important;
  font-size: 12pt;
  color: #000000 ! important;
  background-color: #ffffff ! important;
}

a {
  color: #0000cc ! important;
  text-decoration: none ! important;
}

a.white {
  color: white ! important;
}

a.black {
  color: black ! important;
}

table.textAtm { background-color: #000000 ! important; }

tr.textAtmH {
  background-color: #ffffff ! important;
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

tr.textAtmB {
  background-color: #ffffff ! important;
}

table.signInProgress,
table.rfc822 {
  background-color: #ffffff ! important
;
}

tr.signInProgressH,
tr.rfc822H {
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

table.encr {
  background-color: #0010cc ! important;
}

tr.encrH {
  background-color: #1010ee ! important;
  color: #aaaaaa ! important;
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

tr.encrB { background-color: #ffe0e0 ! important; }

table.signOkKeyOk {
  background-color: #00cc00 ! important;
}

tr.signOkKeyOkH {
  background-color: #00ff00 ! important;
  color: #000000 ! important;
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

tr.signOkKeyOkB { background-color: #e0ffe0 ! important; }

table.signOkKeyBad {
  background-color: #00cc00 ! important;
}

tr.signOkKeyBadH {
  background-color: #00ff00 ! important;
  color: #000000 ! important;
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

tr.signOkKeyBadB { background-color: #e0ffe0 ! important; }

table.signWarn {
  background-color: #cc0 ! important;
}

tr.signWarnH {
  background-color: #fc0 ! important;
  color: #000000 ! important;
  font-family: "Helvetica" ! imp
ortant;
  font-size: 12pt;
}

tr.signWarnB { background-color: #e0e0ff ! important; }

table.signErr {
  background-color: #c00 ! important;
}

tr.signErrH {
  background-color: #0f00 ! important;
  color: #0000
00 ! important;
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

tr.signErrB { background-color: #d3d3f0 ! important; }

div.htmlWarn {
  border: 2px solid #00001a ! important;
  line-height: normal;
}

div.header {
  font-family: "Helvetica" ! important;
  font-size: 12pt;
}

div.fancy.header > div {
  background-color: #308cc6 ! important;
  color: #ffffff ! important;
  border: solid #000000 1px ! important;
  line-height: normal;
}

div.fancy.header > div a[href] { color: #ffffff ! important; }

div.fancy.header > div a[href]:hover { text-decoration: underline ! important; }

div.fancy.header > div.spamheader {
  background-color: #cdcdcd ! important;
  border-top: 0px ! important;
  padding: 3px ! important;
  color: black ! important;
  font-weight: bold ! important;
  font-size: 12pt;
}

div.fancy.header > table.outer {
  background-color: #efebe7 ! important;
  color: #000000 ! important;
  border-bottom: solid #000000 1px ! important;
  border-left: solid #000000 1px ! important;
  border-right: solid #000000 1px ! important;
}

div.senderpic{
  padding: 0px ! important;
  font-size:0.8em ! important;
  border:1px solid #b8b5b2 ! important;
  background-color:#efebe7 ! important;
}

div.senderstatus{
  text-align:center ! important;
}

div.quotelevel1 {
  color: #100000 ! important;
}

div.quotelevel2 {
  color: #200000 ! important;
}

div.quotelevel3 {
  color: #300000 ! important;
}

div.deepquotelevel1 {
  color: #100000 ! important;
}

div.deepquotelevel2 {
  color: #200000 ! important;
}

div.deepquotelevel3 {
  color: #300000 ! important;
}
