[Desktop Entry]
Name=Kube Mail
X-KDE-PluginInfo-Name=org.kube.components.mail
Exec=kpackagelauncherqml -a org.kube.components.mail
X-Plasma-MainScript=ui/main.qml
X-KDE-ServiceTypes=KPackage/GenericQML
Icon=kmail2
Type=Service
