[Desktop Entry]
Name=Kube
Type=Application
Exec=kube-mail
Icon=kube_icon
GenericName=Mail Client
Comment=Send, receive and manage your mail with Kube
Terminal=false
StartupNotify=true
Categories=Qt;KDE;Office;Network;Email;
