[Desktop Entry]
Name=Kube
Type=Application
Exec=kube
Icon=kube_icon
GenericName=Mail Client
Comment=Send, receive and manage your Kolab Now mail with Kube
Terminal=false
StartupNotify=true
Categories=Qt;Office;Network;Email;
